# 计算收益

![returns_chart.png](returns_chart_720_358.png)

我们将公式 $ \frac{p_{t} - p_{t-1}}{p_{t-1}} $ 套用到几个示例价格上。对于这道练习，我们将使用 `close` 中存储的收盘价数据计算每天的收益。

In [2]:
import pandas as pd

close = pd.DataFrame(
    {
        'ABC': [1, 5, 3, 6, 2],
        'EFG': [12, 51, 43, 56, 22],
        'XYZ': [35, 36, 36, 36, 37],},
    pd.date_range('10/01/2018', periods=5, freq='D'))
close

            ABC  EFG  XYZ
2018-10-01    1   12   35
2018-10-02    5   51   36
2018-10-03    3   43   36
2018-10-04    6   56   36
2018-10-05    2   22   37

对 ticker“ABC”的收盘价运用收益公式应该会返回 `[(5-1)/1, (3-5)/5, (6-3)/3, (2-6)/6]` 或 `[4, -0.4, 1, -0.66]`。要针对整个 DataFrame 计算收益，我们将使用 [DataFrame.shift](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.shift.html) 函数。

此函数使我们能够移位数据行。例如，以下代码行会将 `close` 中的行往回移位两天。

In [2]:
close.shift(2)

            ABC   EFG   XYZ
2018-10-01  NaN   NaN   NaN
2018-10-02  NaN   NaN   NaN
2018-10-03  1.0  12.0  35.0
2018-10-04  5.0  51.0  36.0
2018-10-05  3.0  43.0  36.0

In [4]:
close-close.shift(2)

            ABC   EFG  XYZ
2018-10-01  NaN   NaN  NaN
2018-10-02  NaN   NaN  NaN
2018-10-03  2.0  31.0  1.0
2018-10-04  1.0   5.0  0.0
2018-10-05 -1.0 -21.0  1.0

行“2018-10-03”的数据包含两天前的数据。你还会发现“2018-10-01”和“2018-10-02”是“NaN”值。因为两天前没有这两个日期的数据，所以返回“NaN”值。

对于此函数，你还可以使用负数向未来移位。我们向未来移位一天。

In [3]:
close.shift(-1)

            ABC   EFG   XYZ
2018-10-01  5.0  51.0  36.0
2018-10-02  3.0  43.0  36.0
2018-10-03  6.0  56.0  36.0
2018-10-04  2.0  22.0  37.0
2018-10-05  NaN   NaN   NaN

## 小测验
根据你所掌握的 [DataFrame.shift](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.shift.html) 函数知识实现此函数。

成功实现该函数后，你可以继续转到教室的下个页面。

In [1]:
import quiz_tests


def calculate_returns(close):
    """
    Compute returns for each ticker and date in close.
    
    Parameters
    ----------
    close : DataFrame
        Close prices for each ticker and date
    
    Returns
    -------
    returns : DataFrame
        Returns for each ticker and date
    """
    HPR = (close-close.shift(1))/close.shift(1)

    return HPR


quiz_tests.test_calculate_returns(calculate_returns)

ModuleNotFoundError: No module named 'quiz_tests'

## 小测验解答
如果你遇到问题，请在[此处](calculate_returns_solution.ipynb)查看解答。