In [1]:
import pandas as pd

df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [2]:
# total number of actions
df.shape

(8188, 4)

In [3]:
# number of unique users
df.nunique()

timestamp    8188
id           6328
group           2
action          2
dtype: int64

In [4]:
# size of control group and experiment group
df.groupby('group').nunique()

            timestamp    id  group  action
group
control          4264  3332      1       2
experiment       3924  2996      1       2

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [5]:
# duration of this experiment
print(df.timestamp.head())
import datetime
date_max = datetime.datetime.strptime(df.timestamp.max(),'%Y-%m-%d %H:%M:%S')
data_min = datetime.datetime.strptime(df.timestamp.min(),'%Y-%m-%d %H:%M:%S')
delta = date_max-date_min

0    2016-09-24 17:42:27.839496
1    2016-09-24 19:19:03.542569
2    2016-09-24 19:36:00.944135
3    2016-09-24 19:59:02.646620
4    2016-09-24 20:26:14.466886
Name: timestamp, dtype: object

ValueError: unconverted data remains: .629327

### 3. What action types are recorded in this dataset?
(i.e., What are the unique values in the action column?)

In [6]:
# action types in this experiment
df.action.value_counts()

view     6328
click    1860
Name: action, dtype: int64

### 4. Why would we use click through rate instead of number of clicks to compare the performances of control and experiment pages?

Answer:
+ 归一化，避免页面访问量较大本身带来的统计偏差影响

### 5. Define the click through rate (CTR) for this experiment.

In [11]:
ctr = df[df['action']=='click'].id.nunique()/df.query('action == "view"').id.nunique()
ctr

0.2939317319848293

### 6. What are the null and alternative hypotheses?
Use $CTR_{old}$ and $CTR_{new}$ in your hypotheses.

$$H_0: $$
$$H_1: $$

+ null hypothesis: $CTR_{new} <= CTR_{old}$
+ alternative hypothesis: $CTR_{new} > CTR_{old}$