### 拟合逻辑回归

在第一个 notebook 中，你将对一个数据集拟合一个逻辑回归模型，从而预测一个交易中是否存在欺诈行为。

首先，我们导入库，并快速浏览一下数据集，然后开始你的任务吧。

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm


df = pd.read_csv('./fraud_dataset.csv')
df.head()

   transaction_id   duration      day  fraud
0           28891  21.302600  weekend  False
1           61629  22.932765  weekend  False
2           53707  32.694992  weekday  False
3           47812  32.784252  weekend  False
4           43455  17.756828  weekend  False

`1.` 正如你所见，有两列需要更改为虚拟变量。将每个当前列替换为虚拟变量。1代表 `weekday` 与 `True`，  0 代表其他。使用第一个测试题目来回答关于数据集的几个问题。

`2.` 现在你已经有了虚拟变量，可以使用逻辑回归模型来预测一个交易是否利用日期和持续时间进行欺诈。 不要忘记添加一个截距！ 回答下面的第二个测试题目，确保你拟合的模型是正确的。

In [2]:
# get_dummies()的返回值的元组，哪个列写在前面，哪个是1
df['weekday']= pd.get_dummies(df['day'])['weekday']
df[['fraud','no fraud']] = pd.get_dummies(df['fraud'])
df.head()

   transaction_id   duration      day  fraud  weekday  no fraud
0           28891  21.302600  weekend      1        0         0
1           61629  22.932765  weekend      1        0         0
2           53707  32.694992  weekday      1        1         0
3           47812  32.784252  weekend      1        0         0
4           43455  17.756828  weekend      1        0         0

In [3]:
df.drop(labels="no fraud", axis = 1,inplace=True)

In [4]:
df.head()

   transaction_id   duration      day  fraud  weekday
0           28891  21.302600  weekend      1        0
1           61629  22.932765  weekend      1        0
2           53707  32.694992  weekday      1        1
3           47812  32.784252  weekend      1        0
4           43455  17.756828  weekend      1        0

In [5]:
df.loc[:,'intercept'] = 1

In [6]:
df.head()

   transaction_id   duration      day  fraud  weekday  intercept
0           28891  21.302600  weekend      1        0          1
1           61629  22.932765  weekend      1        0          1
2           53707  32.694992  weekday      1        1          1
3           47812  32.784252  weekend      1        0          1
4           43455  17.756828  weekend      1        0          1

In [8]:
lr = sm.Logit(df['fraud'],df[['intercept','duration','weekday']])
result = lr.fit()
result.summary()

Optimization terminated successfully.
         Current function value: inf
         Iterations 16

C:\Users\cooki\Anaconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1724: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))
C:\Users\cooki\Anaconda3\lib\site-packages\statsmodels\base\model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
C:\Users\cooki\Anaconda3\lib\site-packages\statsmodels\base\model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  fraud   No. Observations:                 8793
Model:                          Logit   Df Residuals:                     8790
Method:                           MLE   Df Model:                            2
Date:                Mon, 02 Mar 2020   Pseudo R-squ.:                     inf
Time:                        22:14:30   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
                                        LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -9.8709      1.944     -5.078      0.000     -13.681      -6.061
duration       1.4637      0.290      5.039      0.000       0.894       2.033
weekday       -2.5465      0.904     -2.816      0.005      -4.319      -0.774
==============================================================================

Possibly complete quasi-separation: A fraction 0.98 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""